//colors

$blue: #14a5da;
$lightBlue: #14a5da1f;
$orange: #e76400;
$mystic: #dce5e9;
$lightGray: #F7F7F7;
// breakpoints

$landscape: 576px;
$tablet: 768px;
$desktop: 992px;
$desktop-wide: 1200px;


// z-index
$header: 10;
$submenu: 11;
$newsVisual: 1;
$formSuccessSubmit: 9;
