.m-menu-container
  .m-menu-container__menu.m-menu
    .m-menu__body
      ul.m-menu__list
        li.m-menu__item
          a(href="#").m-menu__link Меню
        li.m-menu__item
          a(href="#").m-menu__link Меню
        li.m-menu__item
          a(href="#").m-menu__link Меню
        li.m-menu__item
          a(href="#").m-menu__link Меню
        li.m-menu__item
          a(href="#").m-menu__link Меню
        li.m-menu__item
          a(href="#").m-menu__link Меню

    .m-menu__footer

      .m-menu__auth
        ul.m-menu__footer-list
          li.m-menu__footer-item
            a(href="#").m-menu__footer-link #[strong Вход]
          li.m-menu__footer-item
            a(href="#").m-menu__footer-link #[strong Регистрация]

      ul.m-menu__footer-list
        li.m-menu__footer-item
          a(href="#").m-menu__footer-link Режим работы
        li.m-menu__footer-item
          a(href="#").m-menu__footer-link Правила посещения
