.m-menu-container {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 70px; // header height
    left: 0;
    width: 100vw;
    height: calc(100vh - 70px);
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
    // background-color: rgba(0, 0, 0, 0.3);
    &--active {
        visibility: visible;
        opacity: 1;
        .m-menu {
            left: 0;
        }
    }
}
.m-menu {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    left: -100%;
    width: 100%;
    min-width: 320px;
    max-width: 500px;
    height: 100%;
    padding: 20px 15px;
    transition: left 0.3s ease-out;
    background-color: #fff;

    @media screen and (min-width: 992px) {
        display: none;
    }
    &__list {
        list-style: none;
        text-align: center;
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }
    &__link {
        font-size: 1.6rem;
        line-height: 1.2;
    }

    &__footer {
        display: flex;
        flex-flow: column nowrap;
        margin-top: auto;
        padding-top: 20px;
        &-list {
            text-align: center;
        }
        &-item {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        &-link {
            font-size: 1.4rem;
            strong {
                font-weight: 600;
            }
        }
    }
    &__auth {
        text-align: center;
        margin-bottom: 40px;
    }
}
