<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Главная</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;display=swap">
    <link rel="stylesheet" href="styles/main.min.css">
  </head>
  <body>
    <div class="top-bar">
      <div class="container">
        <div class="top-bar__list"><a class="top-bar__link" href="#">Режим работы</a><a class="top-bar__link" href="#">Правила посещения</a></div>
      </div>
    </div>
    <header class="header">
      <div class="container header__container">
        <div class="header__wrapper">
          <div class="header__inner">
            <div class="header__logo"><span class="logo">Logotype</span>
            </div>
            <div class="header__menu">
              <div class="d-menu">
                <ul class="d-menu__list">
                  <li class="d-menu__item"><a class="d-menu__link" href="#">Меню</a>
                                  <div class="d-menu__submenu">
                                    <div class="d-menu__submenu-wrapper">
                                      <ul class="d-menu__submenu-list">
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                      </ul>
                                      <ul class="d-menu__submenu-list">
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                      </ul>
                                      <ul class="d-menu__submenu-list">
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                      </ul>
                                      <ul class="d-menu__submenu-list">
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                      </ul>
                                      <ul class="d-menu__submenu-list">
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                      </ul>
                                    </div>
                                  </div>
                  </li>
                  <li class="d-menu__item"><a class="d-menu__link" href="#">Меню</a>
                                  <div class="d-menu__submenu">
                                    <div class="d-menu__submenu-wrapper">
                                      <ul class="d-menu__submenu-list">
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                      </ul>
                                      <ul class="d-menu__submenu-list">
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                      </ul>
                                      <ul class="d-menu__submenu-list">
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                      </ul>
                                      <ul class="d-menu__submenu-list">
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                      </ul>
                                      <ul class="d-menu__submenu-list">
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                      </ul>
                                    </div>
                                  </div>
                  </li>
                  <li class="d-menu__item"><a class="d-menu__link" href="#">Меню</a></li>
                  <li class="d-menu__item"><a class="d-menu__link" href="#">Меню</a></li>
                  <li class="d-menu__item"><a class="d-menu__link" href="#">Меню</a></li>
                  <li class="d-menu__item"><a class="d-menu__link" href="#">Меню</a>
                                  <div class="d-menu__submenu">
                                    <div class="d-menu__submenu-wrapper">
                                      <ul class="d-menu__submenu-list">
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                      </ul>
                                      <ul class="d-menu__submenu-list">
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                      </ul>
                                      <ul class="d-menu__submenu-list">
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                      </ul>
                                      <ul class="d-menu__submenu-list">
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                      </ul>
                                      <ul class="d-menu__submenu-list">
                                        <li class="d-menu__submenu-item"><a class="d-menu__submenu-link" href="#">Меню</a></li>
                                      </ul>
                                    </div>
                                  </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header__authentication"><a class="header__authentication-link" href="#"><strong>Регистрация</strong></a><a class="header__authentication-link" href="#"><strong>Вход</strong></a></div>
            <div class="header__hamburger">
              <button class="hamburger" type="button"><span class="hamburger__box"><span class="hamburger__inner"></span></span></button>
            </div>
          </div><span class="header__wrapper-line"></span>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="m-menu-container">
        <div class="m-menu-container__menu m-menu">
          <div class="m-menu__body">
            <ul class="m-menu__list">
              <li class="m-menu__item"><a class="m-menu__link" href="#">Меню</a></li>
              <li class="m-menu__item"><a class="m-menu__link" href="#">Меню</a></li>
              <li class="m-menu__item"><a class="m-menu__link" href="#">Меню</a></li>
              <li class="m-menu__item"><a class="m-menu__link" href="#">Меню</a></li>
              <li class="m-menu__item"><a class="m-menu__link" href="#">Меню</a></li>
              <li class="m-menu__item"><a class="m-menu__link" href="#">Меню</a></li>
            </ul>
          </div>
          <div class="m-menu__footer">
            <div class="m-menu__auth">
              <ul class="m-menu__footer-list">
                <li class="m-menu__footer-item"><a class="m-menu__footer-link" href="#"><strong>Вход</strong></a></li>
                <li class="m-menu__footer-item"><a class="m-menu__footer-link" href="#"><strong>Регистрация</strong></a></li>
              </ul>
            </div>
            <ul class="m-menu__footer-list">
              <li class="m-menu__footer-item"><a class="m-menu__footer-link" href="#">Режим работы</a></li>
              <li class="m-menu__footer-item"><a class="m-menu__footer-link" href="#">Правила посещения</a></li>
            </ul>
          </div>
        </div>
      </div>
      <section class="sc sc-main-carousel">
        <div id="slider"></div>
      </section>
      <section class="sc sc-about">
        <div class="container">
          <div class="about">
            <div class="about__title"><a class="title title-link" href="#">о компании</a>
            </div>
            <div class="about__content">
              <div class="about__description">Что-то более продвинутое делается с помощью покадровой анимации — когда для разных состояний объекта (стоит, идет, в прыжке, атакует) создается несколько спрайтов (двумерное изображение), которые сменяют друг друга с определенным интервалом.</div><a class="about__link" href="#"><span class="about__link-text">подробнее</span>
                <svg class="about__link-icon">
                  <use href="img/sprites/sprite.svg#right-arrow"></use>
                </svg></a>
            </div>
          </div>
        </div>
      </section>
      <section class="sc sc-news">
        <div class="container">
          <div class="news">
            <div class="news__header"><a class="title title-link" href="#">новости</a><a class="news__link" href="#">Все новости</a>
            </div>
            <div class="news__list">
              <div class="news__chunk news__chunk--active">
                <div class="news__split"><a class="news__item" href="#">
                          <div class="news__visual" style="background-image: url(img/content/news/img_1.jpg)">
                            <div class="news__visual-num">1</div>
                          </div></a><a class="news__item" href="#">
                          <div class="news__visual" style="background-image: url(img/content/news/img_2.jpg)">
                            <div class="news__visual-num">2</div>
                          </div></a>
                </div>
                <div class="news__full-width"><a class="news__item" href="#">
                          <div class="news__visual" style="background-image: url(img/content/news/img_3.jpg)">
                            <div class="news__visual-num">3</div>
                          </div></a>
                </div>
              </div>
              <div class="news__chunk">
                <div class="news__split"><a class="news__item" href="#">
                          <div class="news__visual" style="background-image: url(img/content/news/img_1.jpg)">
                            <div class="news__visual-num">1</div>
                          </div></a><a class="news__item" href="#">
                          <div class="news__visual" style="background-image: url(img/content/news/img_2.jpg)">
                            <div class="news__visual-num">2</div>
                          </div></a>
                </div>
                <div class="news__full-width"><a class="news__item" href="#">
                          <div class="news__visual" style="background-image: url(img/content/news/img_3.jpg)">
                            <div class="news__visual-num">3</div>
                          </div></a>
                </div>
              </div>
              <div class="news__chunk">
                <div class="news__split"><a class="news__item" href="#">
                          <div class="news__visual" style="background-image: url(img/content/news/img_1.jpg)">
                            <div class="news__visual-num">1</div>
                          </div></a><a class="news__item" href="#">
                          <div class="news__visual" style="background-image: url(img/content/news/img_2.jpg)">
                            <div class="news__visual-num">2</div>
                          </div></a>
                </div>
                <div class="news__full-width"><a class="news__item" href="#">
                          <div class="news__visual" style="background-image: url(img/content/news/img_3.jpg)">
                            <div class="news__visual-num">3</div>
                          </div></a>
                </div>
              </div>
            </div>
            <button class="news__more-btn">Показать еще</button>
          </div>
        </div>
      </section><section class="sc sc-form">
  <div class="container">
    <div class="form-block" id="form">
      <div class="form-block__success" v-if="submitStatus === 'OK'">
        <div class="form-block__success-block">
          <svg class="form-block__success-icon">
            <use href="img/sprites/sprite.svg#done"></use>
          </svg>
          <div class="form-block__success-name">{{$v.name.$model}}</div>
          <div class="form-block__success-text">Благодарим за подписку!</div>
        </div>


      </div>
      <div class="form-block__wrapper">
        <div class="form-block__rss">
          <svg class="form-block__rss-icon">
            <use href="img/sprites/sprite.svg#RSS"></use>
          </svg>
        </div>
        <div class="form-block__title">подпишитесь на рассылку</div>
        <form class="form" @submit.prevent="submit">
        <div class="form__row">
          <div
            class="form__group"
            :class="{ 'form__group--error': $v.name.$error }"
          >
            <div class="error" v-if="!$v.name.required">Заполните поле</div>
            <input
              class="form__field form__input"
              v-model.trim="$v.name.$model"
              placeholder="Имя"
            />
          </div>

          <div
            class="form__group"
            :class="{ 'form__group--error': $v.email.$error }"
          >
            <div class="error" v-if="!$v.email.required">
              Заполните поле
            </div>
            <div class="error" v-if="!$v.email.email">
              Неверный формат email
            </div>
            <input
              class="form__field form__input"
              v-model.trim.lazy="$v.email.$model"
              placeholder="example@mail.com"
            />
          </div>
        </div>
        <div
          class="form__group"
          :class="{ 'form__group--error': $v.message.$error }"
        >
          <div class="error" v-if="!$v.message.required">Заполните поле</div>
          <textarea
            class="form__field form__textarea"
            v-model.trim.lazy="$v.message.$model"
            placeholder="Комментарии"
          ></textarea>

        </div>
        <div class="form__submit">
          <button
            class="form__submit-btn"
            type="submit"
            :disabled="submitStatus === 'PENDING'"
          >
            подписаться
          </button>

        </div>
        <!-- <pre>{{ $v }}</pre> -->
      </div>
    </div>
  </div>
</section>

    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__wrapper">
          <div class="footer__logo"><span class="logo">Logotype</span>
          </div>
          <div class="footer__inner">
            <div class="footer__left">
              <div class="footer__address">г. Москва, метро Бауманская, ул. Бауманская, дом 44</div><a class="footer__phone" href="tel:+70000000000">+7 000 000 00 00</a>
            </div>
            <div class="footer__right">
              <nav class="footer__nav"><a class="footer__nav-link" href="#">О компании</a><a class="footer__nav-link" href="#">Партнёрская программа</a><a class="footer__nav-link" href="#">Реклама</a><a class="footer__nav-link" href="#">Пресс-центр</a><a class="footer__nav-link" href="#">Вакансии</a><a class="footer__nav-link" href="#">Помощь</a><a class="footer__nav-link" href="#">Правила</a></nav>
              <div class="footer__media">
                <div class="footer__socials">
                  <div class="footer__socials-title">Мы в соц. сетях</div>
                  <div class="footer__socials-list"><a class="footer__socials-link" href="#">
                      <svg class="footer__socials-icon">
                        <use href="img/sprites/sprite.svg#fb"></use>
                      </svg></a><a class="footer__socials-link" href="#">
                      <svg class="footer__socials-icon">
                        <use href="img/sprites/sprite.svg#inst"></use>
                      </svg></a><a class="footer__socials-link" href="#">
                      <svg class="footer__socials-icon">
                        <use href="img/sprites/sprite.svg#odnoklassniki"></use>
                      </svg></a></div>
                </div>
                <div class="footer__subscribe footer-subscribe">
                  <div class="footer-subscribe__title">Подписка на новости</div>
                  <formm class="footer-subscribe__form">
                    <input class="footer-subscribe__input" placeholder="example@mail.com" required>
                    <button class="footer-subscribe__button" type="submit">Ok</button>
                  </formm>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__copyright">
        <div class="container">
          <div class="footer__copyright-list">
            <div class="footer__copyright-left"><span class="footer__copyright-text">© ООО «Глобус», 2016 — 2019</span></div>
            <div class="footer__copyright-right"><a class="footer__copyright-link" href="#">Политика конфиденциальности</a><a class="footer__copyright-link" href="#">Cookies</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/main.min.js"></script>
    <script src="js/vendor.min.js"></script>
  </body>
</html>