section.sc.sc-about
  .container
    .about
      .about__title
        +title('о компании')
      .about__content
        .about__description Что-то более продвинутое делается с помощью покадровой анимации — когда для разных состояний объекта (стоит, идет, в прыжке, атакует) создается несколько спрайтов (двумерное изображение), которые сменяют друг друга с определенным интервалом.
        a(href="#").about__link
          span.about__link-text подробнее
          svg.about__link-icon
            use(href="img/sprites/sprite.svg#right-arrow")
