$hamburger-layer-color: #000;
$hamburger-layer-width: 27px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-border-radius: 0;

.hamburger {
    display: inline-block;
    overflow: visible;
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    background-color: transparent;

    &__box {
        display: inline-block;
        position: relative;
        width: $hamburger-layer-width;
        height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
    }
    &__inner {
        display: block;
        top: $hamburger-layer-height / 2;
        margin-top: $hamburger-layer-height / -2;

        &, &:before, &:after {
            position: absolute;
            width: $hamburger-layer-width;
            height: $hamburger-layer-height;
            background-color: $hamburger-layer-color;
            border-radius: $hamburger-layer-border-radius;
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: ease;
        }
        &::before, &::after {
            content: "";
            display: block;
        }
        &::before {
            top: $hamburger-layer-height + $hamburger-layer-spacing;
            transition-property: transform, opacity;
            transition-timing-function: ease;
            transition-duration: 0.15s;
        }

        &::after {
            top: ($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
        }
    }
    &.hamburger--active {
        .hamburger__inner {
            $y-offset: $hamburger-layer-spacing + $hamburger-layer-height;

            transform: translate3d(0, $y-offset, 0) rotate(45deg);

            &::before {
                transform: rotate(-45deg)
                    translate3d($hamburger-layer-width / -7, $hamburger-layer-spacing * -1, 0);
                opacity: 0;
            }

            &::after {
                transform: translate3d(0, $y-offset * -2, 0) rotate(-90deg);
            }
        }
    }
}
