extends layouts/default
include helpers/mixins

include ../blocks/components/logo/logo
include ../blocks/components/hamburger/hamburger
include ../blocks/components/title/title


block variables
  - const title = "Главная"

block content
  include ../blocks/modules/top-bar/top-bar
  include ../blocks/modules/header/header
  main.main
    include ../blocks/modules/m-menu/m-menu
    include ../blocks/modules/main-carousel/main-carousel
    include ../blocks/modules/about/about
    include ../blocks/modules/news/news
    include ../blocks/modules/form/form.html

  include ../blocks/modules/footer/footer


block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")
