.title {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    &-link {
        font-size: 1.6rem;
    }
    @media screen and (min-width: $desktop) {
        display: inline-block;
        &-h2 {
            font-size: 2rem;
        }
    }
}
