.top-bar {
    display: none;
    padding: 10px 0;
    background-color: $mystic;
    @media screen and (min-width: $desktop) {
        display: block;
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        font-size: rem(14);
    }
}
