.footer-subscribe {
  width: 100%;
  max-width: 370px;
  margin: 0 auto;
  &__title {
    text-align: center;
  }
  &__form {
    display: flex;
    height: 30px;
    margin-top: 15px;
  }
  &__input,
  &__button {
    height: 100%;
    border-radius: 2px;
  }
  &__input {
    flex-grow: 1;
    margin-right: 11px;
    padding: 0 15px;
    &::placeholder {
      color: #bbbbbb;
    }
  }
  &__button {
    background-color: $blue;
    width: 65px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    transition: background-color linear 0.3s;
    &:hover {
      color: #fff;
      background-color: lighten($color: $blue, $amount: 5);
    }
  }
  @media screen and (min-width: $desktop) {
    margin: 0;
    &__title {
      text-align: left;
    }
    &__button {
      width: 70px;
      font-size: rem(14);
    }
  }
}
