@import "_footer-subscribe";

.footer {
  background-color: $mystic;
  font-size: 1.4em;
  &__wrapper {
    padding: 20px 0 35px;
  }
  &__logo {
    text-align: center;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  &__left {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  &__phone {
    display: block;
    font-weight: 600;
    margin-top: 20px;
    font-size: 1.4rem;
  }
  &__right {
    margin-top: 25px;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-link {
      font-size: 1.4rem;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
  &__media {
    margin-top: 35px;
  }
  &__socials {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-list {
      margin-top: 20px;
      display: flex;
      height: 25px;
    }
    &-link {
      display: block;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    &-icon {
      fill: $blue;
      height: 100%;
      max-width: 25px;
    }
  }
  &__subscribe {
    margin-top: 40px;
  }

  &__copyright {
    padding: 20px 0;
    background-color: #001f2b;
    a,
    span {
      color: $mystic;
      font-size: 1.2rem;
    }
    &-left {
      display: none;
    }
    &-right {
      display: flex;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: $desktop) {
    font-size: rem(14);
    &__wrapper {
      padding: 30px 0;
    }
    &__logo {
      display: inline-block;
    }
    &__inner {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;
    }
    &__left {
      display: flex;
      flex-direction: column;
      width: calc(20% - 20px);
      margin: 0 20px 0 0;
      text-align: left;
      max-width: 100%;
    }
    &__right {
      width: 100%;
      max-width: 800px;
      margin: 0;
    }
    &__phone {
      font-size: rem(14);
      margin-top: auto;
    }
    &__nav {
      flex-direction: row;
      justify-content: space-between;
      &-link {
        font-size: rem(14);
        &:not(:last-child) {
          margin: 0;
        }
      }
    }
    &__media {
      display: flex;
      justify-content: space-between;
    }
    &__socials {
      align-items: flex-start;
      &-list {
        height: 16px;
        margin-top: 15px;
      }
      &-icon {
        max-width: 16px;
      }
      &-link {
        &:not(:last-child) {
        }
      }
    }
    &__subscribe {
      margin-top: 0;
    }
  }
  &__copyright {
    a,
    span {
      font-size: rem(12);
    }
    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-right {
      max-width: 280px;
      width: 100%;
    }
    &-left {
      display: block;
    }
  }
}
