footer.footer
  .container
    .footer__wrapper
      .footer__logo
        +logo()
      .footer__inner
        .footer__left

          .footer__address г. Москва, метро Бауманская, ул. Бауманская, дом 44
          a(href="tel:+70000000000").footer__phone +7 000 000 00 00
        .footer__right
          nav.footer__nav
            a(href="#").footer__nav-link О компании
            a(href="#").footer__nav-link Партнёрская программа
            a(href="#").footer__nav-link Реклама
            a(href="#").footer__nav-link Пресс-центр
            a(href="#").footer__nav-link Вакансии
            a(href="#").footer__nav-link Помощь
            a(href="#").footer__nav-link Правила
          .footer__media
            .footer__socials
              .footer__socials-title Мы в соц. сетях
              .footer__socials-list
                a(href="#").footer__socials-link
                  svg.footer__socials-icon
                    use(href="img/sprites/sprite.svg#fb")
                a(href="#").footer__socials-link
                  svg.footer__socials-icon
                    use(href="img/sprites/sprite.svg#inst")
                a(href="#").footer__socials-link
                  svg.footer__socials-icon
                    use(href="img/sprites/sprite.svg#odnoklassniki")

            .footer__subscribe.footer-subscribe
              .footer-subscribe__title Подписка на новости
              formm.footer-subscribe__form
                input(placeholder="example@mail.com" required).footer-subscribe__input
                button(type="submit").footer-subscribe__button Ok

  .footer__copyright
    .container
      .footer__copyright-list
        .footer__copyright-left
          span.footer__copyright-text © ООО «Глобус», 2016 — 2019
        .footer__copyright-right
          a(href="#").footer__copyright-link Политика конфиденциальности
          a(href="#").footer__copyright-link Cookies
